.footer {
    text-align: center;
}
.side-section .webix_view {
    background-color: #eeeeee;
}
.side-section .webix_template {
    color: #6d8435;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
}
.cell-rank .webix_first,
.cell-rank .webix_first.webix_span {
    background: #F4F5F9;
    border-right: 1px solid #DADEE0;
    box-sizing: border-box;
}
.users-list .webix_list_item {
    display: flex;
    justify-content: space-between;
}
.users-list .webix_icon.wxi-close {
    display: flex;
    align-items: center;
}
.row-highlight {
    background: burlywood;
}