.footer {
    text-align: center;
}
.side-section .webix_view {
    background-color: #eeeeee;
}
.side-section .webix_template {
    color: #6d8435;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
}